<div class="footer-container">
    <div class="wayist-network">
        <h3>Wayist Network</h3>
        <div class="network-links">
            <a href="https://wayism.org" target="_blank">Wayism.org</a> - Philosophy & Teachings<br>
            <a href="https://blog.wayism.org" target="_blank">Blog.wayism.org</a> - Community Blog<br>
            <a href="https://wayist.life" target="_blank">Wayist.life</a> - Online Community<br>
            <a href="https://wayism.net" target="_blank">Wayism.net</a> - Books & Resources
        </div>
    </div>
    <div class="copyright">
        <p>&copy; {{ now.Year }} {{ .Site.Title }}. Ancient wisdom for modern times.</p>
    </div>
</div>
